*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
}
.top{
  width: 100%;
  height: 100vh;
  background: black;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
}
.logo{
  font-size: 40px;
  font-weight: 800;
  font-family: cursive;
  color: darkred;
}
nav ul{
  margin-right: 80px;
}
nav ul li{
  list-style: none;
  display: inline-block;
}
nav ul li a{
  color:white;
  font-weight: 500;
  position: relative;
  padding: 10px 10px;
}
nav ul li a:hover{
  color: lightsalmon;
}
.icon{
  z-index:999;
}
.right-sidebar{
  width: 30%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: darkred;
}
.content{
  display: flex;
  justify-content: space-between;
}
.left{
  width: 50%;
  margin-left: 100px;
  margin-top: 80px;
}
.left h3{
  color: lightsalmon;
  font-size: 50px;
  line-height: 1;
}
.left p{
  color: white;
  font-size: 18px;
  line-height: 1.2;
}
form{
  position: relative;
  width: 350px;
  margin-top: 20px;
}
.left input[type="text"]{
  padding: 14px;
  width: 100%;
  outline: none;
  border: none;
  color: darkred;
  font-weight: 600;
  width: 120px;
  border-top-left-radius: 40px;
  cursor: pointer;
}

.right{
  width: 90%;
  z-index: 999;
  position: relative;
}
.right .image{
  width: 70%;
  position: absolute;
  right: 150px;
  bottom: 20px;
  top: 15px;
  margin-top: 4px;
 
}

.social-media{
    margin-left: 110px;
    margin-top: 80px; 
}

.instagram{
    font-size: 35px;
    color:white;
}

.facebook{
    font-size: 35px;
    margin-left: 15px;
    margin-right: 15px;
    color: rgb(206, 22, 22);
}

.twitter{
    font-size: 35px;
    color:white;
}